version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: salon_user
      POSTGRES_PASSWORD: salon_password
      POSTGRES_DB: salon_db

    ports:
        - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    
  backend:
    build: .
    command: npx tsx src/server.ts
    ports:
      - "3000:3000"
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
volumes:
  db_data: 
  


