services:
  postgres:
    image: postgres:15
    hostname: postgres_db
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres 
    volumes:
      - pgdata:/var/lib/postgresql/data

    networks:
      - prisma-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d postgres" ]
      interval: 5s
      timeout: 2s
      retries: 20

  server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000" #API
      - "5555:5555" #Prisma Studio
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    stdin_open: true
    tty: true
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    networks:
      - prisma-network
networks:
  prisma-network:
    name: prisma-network
volumes:
  pgdata:


